{#login/templates/login/index.html#}

{% extends 'software_base.html' %}
{% load staticfiles %}
{% block title %}投产材料管理{% endblock %}
{% block content %}
    {% block scripts %}
	  <!--<link rel='stylesheet' href="{% static 'css/bootstrap/bootstrap-select.css' %}"/>-->
      <link rel='stylesheet' href="{% static 'css/bootstrap/bootstrap-select.min.css' %}"/>
      <!--<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap-select.js' %}"></script>-->
      <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap-select.min.js' %}"></script>

    {% endblock %}



    <label class="btn btn-primary pull-left">选择卡片：</label>
    <select class="selectpicker" data-style="selectpicker" multiple="multiple">
	    <option value="0">请选择...</option>
	    <option value="北京">北京</option>
	    <option value="天津">天津</option>
	    <option value="河北省">河北省</option>
	    <option value="山西省">山西省</option>
	    <option value="内蒙古自治区">内蒙古自治区</option>
	    <option value="辽宁省">辽宁省</option>
	    <option value="吉林省">吉林省</option>
	    <option value="黑龙江省">黑龙江省</option>
	</select>

{% endblock %}