<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test4</title>

</head>

<body>

test4
<hr>
<!--# 练习一，读取一个英雄的名字-->
<!--{{ hero.hname }} &#45;&#45;&#45;&#45; 利用属性获取名字-->
<!--<br>-->
<!--<br>-->
<!--{{ hero2.showname }} &#45;&#45;&#45;&#45; 利用方法获取名字-->

<!--# 练习二，读取所有英雄的名字-->
<!--<ul>-->
<!--{% for hero in list %}-->
    <!--<li>{{ hero.hname }}</li>-->
<!--{% endfor %}-->
<!--</ul>-->

<!--# 练习三，获取被已删除的英雄-->
<!--<ul>-->
<!--{% for hero in list2 %}-->
    <!--<li>{{ hero.hname }}</li>-->
<!--{% empty %}-->
    <!--啥都没有找到！！-->
<!--{% endfor %}-->
<!--</ul>-->


# 练习四，if语法
<hr>
<ul>
{% for hero in list3 %}
    {% if forloop.counter|divisibleby:"2" %}
        <li style="color: red">
    {% else %}
        <li style="color: blue">
    {% endif %}
        ee
    <!--# forloop.counter:显示循环的第几次-->
    {{forloop.counter}}-->
    {% if hero.showID == 1 %}
        英雄1：{{hero.hname}}
        <br>
    {% elif hero.showID == 2 %}
        英雄2：{{hero.hname}}
        <br>
    {% else %}
        其它英雄:{{hero.hname}}
        <br>
    {% endif %}
     </li>
{% endfor %}
</ul>

<hr>
<a href="123">获取数字</a>
<hr>
<a href="{% url 'booktest:show' '0987654321abcdfg' '456' %}">显示数字--反向解析</a>

</body>
</html>