{#login/templates/login/index.html#}

{% extends 'software_base.html' %}
{% load staticfiles %}
{% block title %}gitlab权限管理{% endblock %}

{% block content %}
    {% block scripts %}
    <script type="text/javascript">
        function $(id) {
            return typeof id==='string'?document.getElementById(id):id;
        }

        window.onload=function () {
            //获取鼠标点击的标签和要切换内容的元素
            var titles=$('notice_title').getElementsByTagName('li'),
                // divs=$('notice_con').getElementsByTagName('div');
                divs_all=document.getElementById('notice_con');
                // 获取第一层元素（div）
                divs=divs_all.children;
            if(titles.length!=divs.length)
                return;
            //遍历titles下所有的li
            for(var i=0;i<titles.length;i++){
                titles[i].id=i;
                //当鼠标滑过onmouseover标签显示对应内容
                //当鼠标点击onclick标签显示对应内容
                titles[i].onclick=function () {
                    //清除所有li上的class
                    for(var j=0;j<titles.length;j++){
                        titles[j].className='';
                        divs[j].style.display='none';
                    }
                    //设置classname
                    this.className='select';
                    divs[this.id].style.display='block';
                }
            }
        };
    </script>

    {% endblock %}

    {% block css %}
        <style type="text/css">
            #card_con{
                text-align: center;
                margin: 50px 100px;
            }

            #card_con a:hover{
                background-color: gold;
                color: #2e6da4;
            }

            #link_index:hover,#link_top:hover{
                color:red !important;
                background-color: gold;
            }

            #link_index,#link_top{
                text-decoration: none;
                color: #fff;
            }

            .form-group input:hover,#link_index:hover,#link_top:hover{
                color:red !important;
                background-color: gold;
            }

            .notice{
                max-height: 850px;
                overflow: hidden;
                background-color: #fff4e8;
                border: 15px solid #ff8800;
                border-radius: 15px;
            }

            .notice_title{
                height: 37px;
                position: relative;
                background-color: #ff8800;
                padding-top: 10px;
                font-weight: bold;
            }

            .notice_title a{
                text-decoration:none;
                font-size: 18px;
                color: #FFF;
            }

            .notice_title a:hover{
                background-color: transparent !important;
            }

            .notice_title ul{
                list-style:none;
                position: absolute;
                left: -40px;
            }

            .notice_title li{
                float: left;
                width: 150px;
                height: 27px;
                line-height: 26px;
                text-align: center;
                overflow: hidden;
            }

            .select{
                background-color: #fff4e8;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                /*border-radius: 20px;*/
            }
            .select a{
                color: #2e6da4;
            }
            .select a:hover{
                color: #2e6da4 !important;
            }
            .wow{
                font-size: 20px;
                width: 150px;
                float: left;
                font-weight: bold;
                padding-top: 2px;
                color: #0f0f0f;
            }


            /* *x选择器：选择所有元素 */
            .row {
                box-sizing: border-box;
            }
            /* 使用Flexbox创建一个列布局
            flex 的定义和用法
            1.flex 属性用于设置或检索弹性盒模型对象的子元素如何分配空间。
            2.flex 属性是 flex-grow、flex-shrink 和 flex-basis 属性的简写属性。
            注意：如果元素不是弹性盒模型对象的子元素，则 flex 属性不起作用。
            */
            .row {
                height: 650px;
                display: flex;
                overflow: auto;
            }
            .row::-webkit-scrollbar {
                display: none;
            }

            /* 左列(菜单) */
            .left {
                text-align: left;
                /*flex: 10%; !*让所有弹性盒模型对象的子元素的长度为15%，且忽略它们内部的内容*!*/
                width: 165px;
                padding: 15px 2px 15px 15px;
                /*background-color: #ff8800;*/
                max-height:1000px;
                overflow-x: hidden;
                font-size:36px;
                font-weight:bold;
                color: #337ab7;
                margin-top: 120px;
                padding-left:30px;
            }

            .left::-webkit-scrollbar {
                display: none;
            }

            .left h2 {
                padding-left: 8px;
            }

            .left ul{
                 list-style:none;
            }

            /*!* 中间(内容) *!*/
            .center {
                /*flex: 85%; !*让所有弹性盒模型对象的子元素的长度为85%，且忽略它们内部的内容*!*/
                width: 45%;
                padding: 15px;
                text-align: left;
            }

            .right{
                width: 44%;
                padding: 15px;
                text-align: left;
            }


            #waird0,#waird1,#waird2{
                background-color: green;
                margin-top: -5px;
            }

            #waird0:hover,#waird1:hover,#waird2:hover{
                background-color: gold !important;
                color: red !important;
            }



            .reset_btn{
                color: green;
                margin-left: 100px;
            }
            .submit_btn{
                margin-left: 200px;
            }

            .reset_btn:hover,.submit_btn:hover{
                color: red;
                background-color: gold;
            }

            .myMenu_domain_show a{
                background-color: #fff4e8 !important;
                color: #2b669a !important;
                font-weight: bold;
                border-radius: 15px;
            }


            .selectpicker{
                width: 400px !important;
                margin-left: 5px;
                background-color: #FFF;
                border: 1px solid #28a4c9 !important;
                overflow: auto;
            }

            .reslut_con{
                background-color: #f9f7f6;
                height: 100%;
                border: 5px solid #ff9c01;
                border-radius: 15px;
            }

            .result_title{
                padding-top: 5px;
                padding-left: 10px;
                height: 32px;
                font-weight: bold;
                background-color: #ff9c01;
                color: #2b669a;
                margin: 0;
            }

            .premissions input{
                width: 400px;
                height: 35px;
                border-radius: 5px;
                margin-left: 5px;
                font-size: 16px;
            }

            .input_context{
                font-size: 17px;
                padding-top: 10px;
            }

            .failMessage{
                padding:5px;
                font-size: 16px;
                height:150px;
                background-color: Salmon;
                overflow: auto;
            }

            .successMessage{
                padding:5px;
                font-size: 16px;
                height:430px;
                background-color: MediumSeaGreen;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                overflow: auto;
            }

            .failMessage_title{
                font-weight: bold;
            }
        </style>
    {% endblock %}

    <div id="card_con">
        <h2 style="font-weight: bold">gitlab权限管理</h2>

        <div class="notice">
            <!--标识，用于左侧菜单-->
            <input type="text" style="display: none" id="notice_title_domain_name" value="{{domain_name}}">

            <div class="notice_title" id="notice_title">
                <ul>
                    <span class="wow" style="color:green">菜单：</span>
                        {% if myMenu == "myMenu0" %}
                            <li class="select">
                        {% else %}
                            <li>
                        {% endif %}
                                <a href="JavaScript:void(0);">添加权限</a>
                            </li>

                        {% if myMenu == "myMenu1" %}
                            <li class="select">
                        {% else %}
                            <li>
                        {% endif %}
                                <a href="JavaScript:void(0);">修改权限</a>
                            </li>

                        {% if myMenu == "myMenu2" %}
                            <li class="select">
                        {% else %}
                            <li>
                        {% endif %}
                                <a href="JavaScript:void(0);">删除权限</a>
                            </li>
                </ul>
            </div>

            <div class="notice_con" id="notice_con">
              {% if myMenu == "myMenu0" %}
                <div class="mod" style="display: block">
              {% else %}
                <div class="mod" style="display: none">
              {% endif %}
                    <div class="row">
                      <div class="left">
                          <ul>
                              <li style="color: green;">添</li>
                              <li style="color: green;">加</li>
                              <li>权</li>
                              <li>限</li>
                          </ul>
                      </div>

                      <div class="center">
                          <br>
                              <form class='premissions' action="gitlab_member_permissions" method="post">
                                  {% csrf_token %}
                                  <input type="text" name="feature" value="myMenu0" style="display: none">
                                  <input type="text" name="updatePrivateKey" value="updatePrivateKey" style="display: none">

                                  <label class="btn btn-primary pull-left">访问令牌：</label>
                                  {% if privateKey %}
                                    <input type="text" name="privateKey" placeholder="********************" title="gitlab个人访问令牌" required>
                                  {% else %}
                                    <input type="text" name="privateKey" placeholder="None" title="gitlab个人访问令牌" required>
                                  {% endif%}
                                  <button type="submit" class="btn btn-primary" id="waird0" title="privateKey" name="sync" value="True">更新为默认访问令牌</button>
                              </form>

                          <br>
                          <hr>
                              <form class='premissions' action="gitlab_member_permissions" method="post">
                                  {% csrf_token %}
                                  <div>
                                      <input type="text" name="feature" value="myMenu0" style="display: none">
                                      <input type="text" name="addPremissions" value="addPremissions" style="display: none">
                                  </div>

                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">项目类型：</label>
                                      <select class="selectpicker" name="projectsType" data-style="selectpicker" data-actions-box="true" data-live-search="true" required>
                                        <option value="projects">【projects】项目ID</option>
                                        <option value="groups">【groups】群组ID</option>
                                      </select>
                                  </div>
                                  <br>
                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">项 目 I D：</label>
                                      <input type="text" name="projectId" placeholder="gitlab 项目id或群组id，多个用英文逗号隔开" required>
                                  </div>
                                  <br>
                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">UM 账号：</label>
                                      <input type="text" name="member" placeholder="UM账号，多个用英文逗号隔开" required>
                                  </div>
                                  <br>
                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">授予权限：</label>
                                      <select class="selectpicker" name="permissions" data-style="selectpicker" data-actions-box="true" data-live-search="true" required>
                                        <option value="10">【Guest】可以创建issue、发表评论，不能读写版本库</option>
                                        <option value="15">【RoleManager】</option>
                                        <option value="20">【Reporter】可以克隆代码，不能提交</option>
                                        <option value="30">【Developer】可以克隆代码、开发、提交、推送</option>
                                        <option value="35">【Auditor】</option>
                                        <option value="36">【ProjectManager】项目管理</option>
                                        <option value="40">【Maintainer】可以创建项目、添加标签、保护分支、编辑项目</option>
                                        <option value="50">【Owner】可以设置项目访问权限 - 可见度、删除项目、迁移项目、添加项目成员、管理组成员</option>
                                      </select>
                                  </div>
                                  <br>
                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">到期日期：</label>
                                      <input type="date" class="end_date" name="end_date" value="{{expires_at_date}}" min="{{now_date}}" title="权限到期日期" required>
                                  </div>

                                  <br><br>
                                  <button type="reset" class="btn btn-default reset_btn">重置</button>
                                  <button type="submit" class="btn btn-primary submit_btn">提交</button>
                              </form>
                          </div>

                      <div class="right">
                          <div class="reslut_con">
                              <h4 class="result_title">运行结果：</h4>
                              <div class="result_content">
                                  <div class="failMessage">
                                        {% if add_member_id_is_None_list %}
                                            <div class="failMessage_title">获取用户ID失败的用户名：</div>
                                            请检查用户名是否正确或是否有登录过gitlab！<hr>
                                            {% for member in add_member_id_is_None_list %}
                                                {{member}}<br>
                                            {% endfor %}
                                        {% endif %}
                                  </div>

                                  <div class="successMessage">
                                      {{message}}
                                      <!--{{resultInfo_list}}-->
                                      <!--{{new_add_resultInfo_list}}-->
                                      {% if new_add_resultInfo_list %}
                                          <div class="failMessage_title">授权结果：</div><br>
                                          {% for resultInfo in new_add_resultInfo_list %}
                                            {% for userName, accessInfo in resultInfo.items %}
                                                序号：{{accessInfo.number}}<br>
                                                UM账号：{{userName}}<br>
                                                授权等级：{{accessInfo.access_level}}<br>
                                                到期日期：{{accessInfo.expires_at}}<br>
                                                其他信息：{{accessInfo.message}}<hr>
                                            {% endfor %}
                                          {% endfor %}
                                      {% endif %}



                                  </div>

                              </div>
                          </div>
                      </div>
                    </div>
                </div>


              {% if myMenu == "myMenu1" %}
                <div class="mod" style="display: block">
              {% else %}
                <div class="mod" style="display: none">
              {% endif %}
                    <div class="row">
                      <div class="left">
                          <ul>
                              <li style="color: DarkOrange;">修</li>
                              <li style="color: DarkOrange;">改</li>
                              <li>权</li>
                              <li>限</li>
                          </ul>
                      </div>

                      <div class="center">
                          <br>
                              <form class='premissions' action="gitlab_member_permissions" method="post">
                                  {% csrf_token %}
                                  <input type="text" name="feature" value="myMenu1" style="display: none">
                                  <input type="text" name="updatePrivateKey" value="updatePrivateKey" style="display: none">

                                  <label class="btn btn-primary pull-left">访问令牌：</label>
                                  {% if privateKey %}
                                    <input type="text" name="privateKey" placeholder="********************" title="gitlab个人访问令牌" required>
                                  {% else %}
                                    <input type="text" name="privateKey" placeholder="None" title="gitlab个人访问令牌" required>
                                  {% endif%}
                                  <button type="submit" class="btn btn-primary" id="waird1" title="privateKey" name="sync" value="True">更新为默认访问令牌</button>
                              </form>

                          <br>
                          <hr>
                              <form class='premissions' action="gitlab_member_permissions" method="post">
                                  {% csrf_token %}
                                  <div>
                                      <input type="text" name="feature" value="myMenu1" style="display: none">
                                      <input type="text" name="updatePremissions" value="updatePremissions" style="display: none">
                                  </div>

                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">项目类型：</label>
                                      <select class="selectpicker" name="projectsType" data-style="selectpicker" data-actions-box="true" data-live-search="true" required>
                                        <option value="projects">【projects】项目ID</option>
                                        <option value="groups">【groups】群组ID</option>
                                      </select>
                                  </div>
                                  <br>
                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">项 目 I D：</label>
                                      <input type="text" name="projectId" placeholder="gitlab 项目id或群组id，多个用英文逗号隔开" required>
                                  </div>
                                  <br>
                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">UM 账号：</label>
                                      <input type="text" name="member" placeholder="UM账号，多个用英文逗号隔开" required>
                                  </div>
                                  <br>
                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">授予权限：</label>
                                      <select class="selectpicker" name="permissions" data-style="selectpicker" data-actions-box="true" data-live-search="true" required>
                                        <option value="10">【Guest】可以创建issue、发表评论，不能读写版本库</option>
                                        <option value="15">【RoleManager】</option>
                                        <option value="20">【Reporter】可以克隆代码，不能提交</option>
                                        <option value="30">【Developer】可以克隆代码、开发、提交、推送</option>
                                        <option value="35">【Auditor】</option>
                                        <option value="36">【ProjectManager】项目管理</option>
                                        <option value="40">【Maintainer】可以创建项目、添加标签、保护分支、编辑项目</option>
                                        <option value="50">【Owner】可以设置项目访问权限 - 可见度、删除项目、迁移项目、添加项目成员、管理组成员</option>
                                      </select>
                                  </div>
                                  <br>
                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">到期日期：</label>
                                      <input type="date" class="end_date" name="end_date" value="{{expires_at_date}}" min="{{now_date}}" title="权限到期日期" required>
                                  </div>

                                  <br><br>
                                  <button type="reset" class="btn btn-default reset_btn">重置</button>
                                  <button type="submit" class="btn btn-primary submit_btn">提交</button>
                              </form>
                          </div>

                      <div class="right">
                          <div class="reslut_con">
                              <h4 class="result_title">运行结果：</h4>
                              <div class="result_content">
                                  <div class="failMessage">
                                        {% if modify_member_id_is_None_list %}
                                            <div class="failMessage_title">获取用户ID失败的用户名：</div>
                                            请检查用户名是否正确或是否有登录过gitlab！<hr>
                                            {% for member in modify_member_id_is_None_list %}
                                                {{member}}<br>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                  <div class="successMessage">
                                      {{message}}
                                      <!--{{resultInfo_list}}-->
                                      <!--{{new_modify_resultInfo_list}}-->
                                      {% if new_modify_resultInfo_list %}
                                          <div class="failMessage_title">修改权限执行结果：</div><br>
                                          {% for resultInfo in new_modify_resultInfo_list %}
                                            {% for userName, accessInfo in resultInfo.items %}
                                                序号：{{accessInfo.number}}<br>
                                                UM账号：{{userName}}<br>
                                                授权等级：{{accessInfo.access_level}}<br>
                                                到期日期：{{accessInfo.expires_at}}<br>
                                                其他信息：{{accessInfo.message}}<hr>
                                            {% endfor %}
                                          {% endfor %}
                                      {% endif %}
                                  </div>

                              </div>
                          </div>
                      </div>
                    </div>
                </div>


              {% if myMenu == "myMenu2" %}
                <div class="mod" style="display: block">
              {% else %}
                <div class="mod" style="display: none">
              {% endif %}
                    <div class="row">
                      <div class="left">
                          <ul>
                              <li style="color: red;">删</li>
                              <li style="color: red;">除</li>
                              <li>权</li>
                              <li>限</li>
                          </ul>
                      </div>

                      <div class="center">
                          <br>
                              <form class='premissions' action="gitlab_member_permissions" method="post">
                                  {% csrf_token %}
                                  <input type="text" name="feature" value="myMenu2" style="display: none">
                                  <input type="text" name="updatePrivateKey" value="updatePrivateKey" style="display: none">

                                  <label class="btn btn-primary pull-left">访问令牌：</label>
                                  {% if privateKey %}
                                    <input type="text" name="privateKey" placeholder="********************" title="gitlab个人访问令牌" required>
                                  {% else %}
                                    <input type="text" name="privateKey" placeholder="None" title="gitlab个人访问令牌" required>
                                  {% endif%}
                                  <button type="submit" class="btn btn-primary" id="waird2" title="privateKey" name="sync" value="True">更新为默认访问令牌</button>
                              </form>

                          <br>
                          <hr>
                              <form class='premissions' action="gitlab_member_permissions" method="post">
                                  {% csrf_token %}
                                  <div>
                                      <input type="text" name="feature" value="myMenu2" style="display: none">
                                      <input type="text" name="deletePremissions" value="deletePremissions" style="display: none">
                                  </div>

                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">项目类型：</label>
                                      <select class="selectpicker" name="projectsType" data-style="selectpicker" data-actions-box="true" data-live-search="true" required>
                                        <option value="projects">【projects】项目ID</option>
                                        <option value="groups">【groups】群组ID</option>
                                      </select>
                                  </div>
                                  <br>
                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">项 目 I D：</label>
                                      <input type="text" name="projectId" placeholder="gitlab 项目id或群组id，多个用英文逗号隔开" required>
                                  </div>
                                  <br>
                                  <div class="input_context">
                                      <label class="btn btn-primary pull-left">UM 账号：</label>
                                      <input type="text" name="member" placeholder="UM账号，多个用英文逗号隔开" required>
                                  </div>

                                  <br><br><br>
                                  <button type="reset" class="btn btn-default reset_btn">重置</button>
                                  <button type="submit" class="btn btn-primary submit_btn">提交</button>
                              </form>
                          </div>

                      <div class="right">
                          <div class="reslut_con">
                              <h4 class="result_title">运行结果：</h4>
                              <div class="result_content">
                                  <div class="failMessage">
                                        {% if del_member_id_is_None_list %}
                                            <div class="failMessage_title">获取用户ID失败的用户名：</div>
                                            请检查用户名是否正确或是否有登录过gitlab！<hr>
                                            {% for member in del_member_id_is_None_list %}
                                                {{member}}<br>
                                            {% endfor %}
                                        {% endif %}
                                  </div>

                                  <div class="successMessage">
                                      {{message}}
                                      <!--{{resultInfo_list}}-->
                                      <!--{{new_del_resultInfo_list}}-->
                                      {% if new_del_resultInfo_list %}
                                          <div class="failMessage_title">删除权限执行结果：</div><br>
                                          {% for resultInfo in new_del_resultInfo_list %}
                                            {% for userName, accessInfo in resultInfo.items %}
                                                序号：{{accessInfo.number}}<br>
                                                UM账号：{{userName}}<br>
                                                其他信息：{{accessInfo.message}}<hr>
                                            {% endfor %}
                                          {% endfor %}
                                      {% endif %}
                                  </div>

                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>

        </div>

        <!--<br><br>-->

        <!--<hr>-->
        <!--<a class="btn btn-primary pull-left" id="link_index" href="/">返回首页</a>-->
        <!--<br><br><br><br>-->
        <!--<a class="btn btn-primary pull-left" id="link_top" href="#">回到顶部</a>-->
        <!--<br><br><br><br>-->

    </div>

{% endblock %}