{#login/templates/login/index.html#}

{% extends 'software_base.html' %}
{% block title %}主页{% endblock %}
{% block css %}
    .con_h{
        text-align:center;
    }

    .con_h a:hover{
        background-color: gold;
        color:red;
    }

    .software_con{
        display: none;
    }

    #software_name{
        background-color: #FF8000;
        margin-right:10px;
        margin-top:5px;
        color:#fff;
    }

    #software_name:hover{
        color:red;
    }

    .software_title{
        font-weight: bolder;
        color: green;
    }

    #software_del{
        background-color: #d9534f;
        color:#fff;
    }

    #software_del:hover{
        color:#c0a16b;
    }

    #software_add{
        color: #2e6da4;
        margin-top:5px;
    }

    #software_add:hover{
        color: red;
    }
{% endblock %}

{% block content %}
<div class="con_h">
    {% if request.session.is_login %}
        <h1>您好,{{ request.session.user_name }}！欢迎回来！</h1>

        <div class="software_con">
            <hr>
            <h3 class="software_title">常用软件快捷键：</h3>
            <h5 class="software_title" style="color: red;">权限受限，此功能不可用！</h5>
            {% for app in appsList %}
                <a id="software_name" class="btn" href={{app.appName}}?name={{app.appName}} >{{app.remark}}</a>
            {% endfor %}

            <a class="btn btn-default" id="software_add" href="/addSoftware" >添加</a>
            <br>
            <br>
            <a class="btn" id="software_del" href="/delSoftware" >删除常用软件</a>
        </div>
    {% else %}
        <h2>您尚未登录，只能访问公开内容！</h2>
        <hr>
        <h4 style="color: red">无法显示常用软件，请先登录！</h4>
        <hr>
        <a class="btn btn-primary" href="/user/login" >用户登录</a>
    {% endif %}
    <hr>
    {% if uploadFile_message %}
        <div class="alert alert-warning">{{ uploadFile_message }}</div>
        <br>
    {% endif %}
    <a class="btn btn-primary" href="/versionManagerIndex" >网址大全</a>
    <hr>
    <a class="btn btn-primary" href="/uploadFile" >文件管理</a>
    <hr>
    <a class="btn btn-primary" href="/productionMaterials" >投产材料管理</a>
    <hr>
    <a class="btn btn-primary" href="/unblockedVersion" >解封版信息收集</a>
    <hr>
    <a class="btn btn-primary" href="/setServerDate" >服务器时间管理</a>
    <hr>
    <!--<a href="/exec_command" >执行shell脚本</a>-->
    <!--<hr>-->
    <!--<a href="/websocket_test" >websocket_test</a>-->
    <!--<hr>-->
<a class="btn btn-primary" href="#" >跳到顶部</a>
</div>

{% endblock %}
