{#login/templates/login/index.html#}

{% extends 'software_base.html' %}
{% load staticfiles %}
{% block title %}投产材料管理{% endblock %}

{% block content %}

{% block scripts %}
<script type="text/javascript">

        function submitForm(){
               var form = document.getElementById("my_domain");
                form.submit();
        }

        function submit2Form(){
               var form = document.getElementById("my_checkoutDate");
                form.submit();
        }

        window.onload = function () {

            var oDiv = document.getElementById('con');
            // oDiv.style.width = '300px';
            // oDiv.style.height = '200px';
            oDiv.style.border = '2px solid green';
            oDiv.style.fontSize = '20px';
            oDiv.style.textAlign = 'center';

            var oBtn = document.getElementById('btn');
            oBtn.value = '隐藏';
            oBtn.onclick = changeWindow;

            function changeWindow() {
                if(oDiv.style.display=='none'){
                    oDiv.style.display = 'block';
                    oBtn.value = '隐藏';
                }
                else{
                    oDiv.style.display = 'none';
                    oBtn.value = '显示';
                }
            }
        }
</script>

{% endblock %}

{% block css %}
<style type="text/css">
    #uploadFile_con{
        text-align: center;
        margin: 50px 100px;
    }

    #uploadFile_con a:hover{
        background-color: gold;
        color: red;
    }

    #link_index:hover,#link_top:hover{
        color:red;
        background-color: gold;
    }

    #link_index,#link_top{
        text-decoration: none;
        color: #fff;
    }

    #con{
        padding: 10px;
    }

    .form-group input:hover,#reset_btn:hover,#link_index:hover,#link_top:hover,#submit_btn:hover{
        color:red;
        background-color: gold;
    }

    #reset_btn{
        color: green;
        margin-left: 35%;
    }

    #submit_btn{
        margin-right: 35%;
     }

</style>
{% endblock %}


<script src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'js/chosen.jquery.js' %}"></script>
<link href="{% static 'css/chosen.min.css' %}" rel="stylesheet">
<!--插件下载地址：https://plugins.jquery.com/tag/dropdown/-->
<script type="text/javascript">
$(function(){
  $('.chosen').chosen({
        no_results_text: "没有找到结果！",//搜索无结果时显示的提示
        search_contains:true,   //关键字模糊搜索。设置为true，只要选项包含搜索词就会显示；设置为false，则要求从选项开头开始匹配
        allow_single_deselect:true, //单选下拉框是否允许取消选择。如果允许，选中选项会有一个x号可以删除选项
        disable_search: false, //禁用搜索。设置为true，则 无法搜索选项。
        disable_search_threshold: 0, //当选项少等于于指定个数时禁用搜索。
        inherit_select_classes: true, //是否继承原下拉框的样式类，此处设为继承
        placeholder_text_single: '选择国家', //单选选择框的默认提示信息，当选项为空时会显示。如果原下拉框设置了data-placeholder，会覆盖这里的值。
        width: '150px', //设置chosen下拉框的宽度。即使原下拉框本身设置了宽度，也会被width覆盖。
        max_shown_results: 1000, //下拉框最大显示选项数量
        display_disabled_options: false,
        single_backstroke_delete: false, //false表示按两次删除键才能删除选项，true表示按一次删除键即可删除
        case_sensitive_search: false, //搜索大小写敏感。此处设为不敏感
        group_search: false, //选项组是否可搜。此处搜索不可搜
        include_group_label_in_selected: false //选中选项是否显示选项分组。false不显示，true显示。默认false。
   });
   $('.chosen2').chosen({
        search_contains:false,
        enable_split_word_search: true //分词搜索，选项词可通过空格或'[]'分隔。search_contains为false时才能看出效果
   });
});
</script>


<div id="uploadFile_con">

     <form class='form-register' action="unblockedVersion" method="post">
            {% csrf_token %}
            <table border="1"  cellspacing="50" class="unblockedVersion_table">
                <tr>
                    <th class="table_title"><div class="table_title_content">版本名简称(必填)</div></th>
                    <th class="table_title"><div class="table_title_content">版本号(必填)</div></th>
                    <th class="table_title"><div class="table_title_content">变更类型(非必填)</div></th>
                    <th class="table_title"><div class="table_title_content">维护投产内容(必填)</div></th>
                    <th class="table_title"><div class="table_title_content">发布实施人(UM账户,非必填)</div></th>
                    <th class="table_title"><div class="table_title_content">版本经理(UM账户,非必填)</div></th>
                    <th class="table_title"><div class="table_title_content">发布验证人(UM账户,非必填)</div></th>
                    <th class="table_title"><div class="table_title_content">影响范围(下拉框选择,必填)</div></th>
                    <th class="table_title"><div class="table_title_content">回退难度(下拉框选择,必填)</div></th>
                    <th class="table_title"><div class="table_title_content">风险控制点(复选 可不填)</div></th>
                    <th class="table_title"><div class="table_title_content">版本封版时间(非必填)</div></th>
                    <th class="table_title"><div class="table_title_content">计划投产时间(必填)</div></th>
                    <th class="table_title"><div class="table_title_content">发布文档地址(必填)</div></th>
                    <th class="table_title"><div class="table_title_content">静态资源ID申请解封时间</div></th>
                </tr>
                <tr>
                    <th class="table_th">
                        <select class='chosen w-country' data-placeholder='请选择国家'  >
                          <option value=""></option>
                          <option value="China">中国</option>
                          <option value="US">US</option>
                          <option value="England">英国</option>
                          <option value="Canada">加拿大</option>
                          <option value="Cube">古巴</option>
                        </select>
                    </th>
                    <th class="table_th"><textarea maxlength="128" class="table_text" name='type'  required></textarea></th>
                    <th class="table_th">
                        <select class='chosen w-country' data-placeholder='请选择国家'  >
                          <option value=""></option>
                          <option value="China">中国</option>
                          <option value="US">US</option>
                          <option value="England">英国</option>
                          <option value="Canada">加拿大</option>
                          <option value="Cube">古巴</option>
                        </select>
                    </th>

                    <th class="table_th"><textarea maxlength="128" class="table_text" name='executor'  required></textarea></th>
                    <th class="table_th"><textarea maxlength="128" class="table_text" name='version_management'  required></textarea></th>
                    <th class="table_th"><textarea maxlength="128" class="table_text" name='verifier'  required></textarea></th>
                    <th class="table_th"><textarea maxlength="512" class="table_text" name='impact'  required></textarea></th>
                    <th class="table_th"><textarea maxlength="128" class="table_text" name='fallback_difficulty'  required></textarea></th>
                    <th class="table_th"><textarea maxlength="128" class="table_text" name='risk'  required></textarea></th>
                    <th class="table_th"><textarea maxlength="128" class="table_text" name='lock_version_time' required></textarea></th>
                    <th class="table_th"><textarea maxlength="128" class="table_text" name='plan_time' required></textarea></th>
                    <th class="table_th"><textarea maxlength="128" class="table_text" name='document_address' required></textarea></th>
                    <th class="table_th"><textarea maxlength="1024" class="table_text" name='res_id' required></textarea></th>
                </tr>
            </table>
            <br><br><br>
            <button type="reset" class="btn btn-default pull-left" id="reset_btn">重置</button>
            <button type="submit" class="btn btn-primary pull-right" id="submit_btn">提交</button>
        </form>


    <br><br>
    <hr>
    <a class="btn btn-primary pull-left" id="link_index" href="/">返回首页</a>
    <br><br><br><br>
    <a class="btn btn-primary pull-left" id="link_top" href="#">回到顶部</a>
    <br><br><br><br>
</div>
{% endblock %}