{#login/templates/login/index.html#}

{% extends 'software_base.html' %}
{% load staticfiles %}
{% block title %}投产材料管理{% endblock %}

{% block content %}
{% block css %}
<style type="text/css">
    #uploadFile_con{
        text-align: center;
    }

    #uploadFile_con a:hover{
        background-color: gold;
        color: red;
    }


    #link_index:hover,#link_top:hover{
        color:red;
        background-color: gold;
    }

    #link_index,#link_top{
        text-decoration: none;
        color: #fff;
    }

</style>
{% endblock %}
<div class="col-md-8 col-md-offset-2" id="uploadFile_con">
        <br>
        <br>
        <br>
        <hr>
        <a class="btn btn-primary pull-left" id="link_index" href="/">返回首页</a>
        <br>
        <br>
        <br>
        <br>
        <a class="btn btn-primary pull-left" id="link_top" href="#">回到顶部</a>
        <br>
        <br>
        <br>
        <br>
</div>
{% endblock %}