{% extends 'software_base.html' %}
{% block title %}CMDB系统{% endblock %}
{% block scripts %}
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#backup_all').click(function () {
                var socket = new WebSocket("ws://" + window.location.host + "/echo_once");
                console.log(socket);
                socket.onopen = function () {
                    console.log('WebSocket open');//成功连接上Websocket
                    socket.send($('#backup_all').val());//发送数据到服务端
                };
                socket.onmessage = function (e) {
                    console.log('message: ' + e.data);//打印服务端返回的数据
                    $('#messagecontainer').append(e.data+'<br/>');
                };
            });
        });
    </script>
{% endblock %}

{% block content %}
    <style type="text/css">
        #backup_all{
            margin: 20px;
            height: 40px;
            background-color: #00ff00;
        }
        #messagecontainer{
            margin: 20px;
        }
        .form-group{
            width: 15%;
        }
        .form-login{
            font-size: 18px;
            font-weight: bold;
            color: #0b97c4;
            text-align: center;
        }
    </style>

    <h1>您好,{{ request.session.user_name }}！欢迎回来！</h1>

    {% if manager_islogin != True %}
        {% if first_login == True %}
            <div class="form-group">
                <form class='form-login' action="restart_tomcat" method="post">
                    {% csrf_token %}
                    {{setpassword.password1.label}}
                    {{setpassword.password1}}
                    {{setpassword.password2.label}}
                    {{setpassword.password2}}
                    <br>
                    <button type="reset" class="btn btn-default pull-left">重置</button>
                    <button type="submit" class="btn btn-primary pull-right">提交</button>
                </form>
            </div>
        {% else %}
            <div class="form-group" id="form-group">
                <form class='form-login' action="restart_tomcat" method="post">
                    {% csrf_token %}
                    {{manager.password.label}}
                    {{manager.password}}
                    <br>
                    <button type="reset" class="btn btn-default pull-left">重置</button>
                    <button type="submit" class="btn btn-primary pull-right">提交</button>
                </form>
            </div>
        {% endif %}
    {% else %}
        <h1>exec_command</h1>
        <button type="button" id="backup_all" value="backup_all">
            执行Shell脚本
        </button>

        <h3 style="margin: 20px;">脚本执行结果:</h3>
        <div id="messagecontainer">
        </div>
    {% endif %}
    <br>
    <br>
    <hr>
    <a href="/">返回首页</a>
    <hr>
    <a href="#">回到顶部</a>
{% endblock %}
