{% extends 'software_base.html' %}

{% block title %}添加常用应用快捷键{% endblock %}
{% block content %}
<h1>您好,{{ request.session.user_name }}！欢迎回来！</h1>
<hr>
{% block showTimingDate %}
    定时任务表

{% endblock %}
<hr>
<div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-register' action="setServerDate" method="post">
                <div class="alert alert-warning">
                    {% if message %}
                        <h3 style="color: #3c763d">{{message}}</h3>
                    {% endif %}
                </div>
                {% csrf_token %}
                <h3>执行日期和时间</h3>
                <div class="form-group">
                    {{ date_form.Datetime.label_tag }}
                    {{ date_form.Datetime }}
                </div>
                <hr>
                <h3>服务器信息填写</h3>
                <div class="form-group">
                    {{ date_form.ServerIP.label_tag }}
                    {{ date_form.ServerIP }}
                </div>

                <div class="form-group">
                    {{ date_form.ServerDatetime.label_tag }}
                    {{ date_form.ServerDatetime }}
                </div>

                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right">提交</button>

          </form>
        </div>
    </div> <!-- /container -->
<hr>
<a href="/">返回首页</a>
<hr>
<a href="#">回到顶部</a>
{% endblock %}
