{#login/templates/login/index.html#}

{% extends 'software_base.html' %}
{% load staticfiles %}
{% block title %}解封版信息收集{% endblock %}

{% block content %}

{% block css %}
<style type="text/css">

    .title{
        font-weight: bold;
        color: green;
    }

    #uploadFile_con{
        text-align: center;
    }

    #uploadFile_con a:hover{
        background-color: gold;
        color: red;
    }

    .pull-left{
        color: #3e8f3e;
        font-weight: bold;
    }

    .form-group input:hover,#reset_btn:hover,#link_index:hover,#link_top:hover,#submit_btn:hover,#submit_btn2:hover{
        color:red;
        background-color: gold;
    }

    .delfile_msg{
        color:red;
        text-align: center;
        font-size: 20px;
    }

    #reset_btn{
        margin-left: 35%;
    }

    #submit_btn, #submit_btn2{
        margin-right: 35%;
    }

    #link_index,#link_top{
        text-decoration: none;
        color: #fff;
    }

    .unblockedVersion_table{
        text-align: center;
        background-color: #f6ffff;
    }

    .table_title{
        background-color: #2e6da4;
        text-align: center;
    }

    .table_title_content{
        margin: 10px;
        color: #fff;
    }

    .table_data{
        text-align: center;
        max-width: 1000px

    }

    .table_text{
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
    }

    .table_th{
        height: 100px;
    }

    .table_th textarea{
        line-height: 50px
        line-height: 0;
    }

    .delete_btn{
        margin: 5px;
        background-color: IndianRed;
        border-color: IndianRed;
    }

    .delete_btn:hover{
        color: red;
        background-color: gold;
        border-color: IndianRed;
    }

    .table_td button{
        padding: 15px 0;
        background-color: green;
        color: #FFF;
    }

    .table_td{
        background-color: LightGreen;
    }

    .table_text{
        background-color: LightGreen;
    }

    .select{
        padding: 15px 0;
        background-color: green;
        color: #FFF;
        border-radius: 5px;
    }

    .table_th .right{
        margin: 5px !important;
    }

    .table_date{
        min-width: 180px;
    }

</style>
{% endblock %}
<div class="col-md-12 col-md-offset-0" id="uploadFile_con">
    {% if request.session.is_login %}
        {% if dirObjectList is none %}
            <!--<h1>您好,{{ request.session.user_name }}！欢迎回来！</h1>-->
            <h1 class="title">解封版信息收集</h1>
        {% endif %}
    {% else %}
        <h2>你尚未登录，只能访问公开内容！</h2>
    {% endif %}


    <br>
    {% if message %}
        <div class="alert alert-warning delfile_msg">{{ message }}</div>
    {% endif %}

    <div style="text-align:left;">
        <form action="unblockedVersion" method="post">
       {% csrf_token %}
            <h4 style="display: inline-block;font-weight: bold;">数据下载：</h4>
            <input type="text" name="options" value="downloadFile" style="display:none;">
            <select class="selectpicker" name="month" multiple="multiple" data-actions-box="true" data-live-search="true" required>
                <option value="1">1月份</option>
                <option value="2">2月份</option>
                <option value="3">3月份</option>
                <option value="4">4月份</option>
                <option value="5">5月份</option>
                <option value="6">6月份</option>
                <option value="7">7月份</option>
                <option value="8">8月份</option>
                <option value="9">9月份</option>
                <option value="10">10月份</option>
                <option value="11">11月份</option>
                <option value="12">12月份</option>
            </select>

            <select class="selectpicker" name="user" required>
                <option value="one">当前用户</option>
                <option value="all">所有用户</option>
            </select>

            <button type="submit" class="btn btn-primary" id="submit_btn2">下载</button>
        </form>
    </div>
    <br>

    <table border="1"  cellspacing="50" class="unblockedVersion_table">
                <tr>
                    <!--<th class="table_title"><div class="table_title_content">序号</div></th>-->
                    <th class="table_title"><div class="table_title_content">月份</div></th>
                    <th class="table_title"><div class="table_title_content">领域</div></th>
                    <th class="table_title"><div class="table_title_content">版本名称</div></th>
                    <th class="table_title"><div class="table_title_content">子系统名称</div></th>
                    <th class="table_title"><div class="table_title_content">版本需求</div></th>
                    <th class="table_title"><div class="table_title_content">版本经理</div></th>
                    <th class="table_title"><div class="table_title_content">开发负责人</div></th>
                    <th class="table_title"><div class="table_title_content">测试负责人</div></th>
                    <th class="table_title"><div class="table_title_content">版本类型</div></th>
                    <th class="table_title"><div class="table_title_content">解封开始时间</div></th>
                    <th class="table_title"><div class="table_title_content">封版时间</div></th>
                    <th class="table_title"><div class="table_title_content">解封版类别</div></th>
                    <th class="table_title"><div class="table_title_content">解封版说明及根因分析</div></th>
                    <th class="table_title"><div class="table_title_content">备注</div></th>
                    <th class="table_title"><div class="table_title_content">操作</div></th>
                </tr>

                <tr>
                    <!--<form class='form-register' action="unblockedVersion" method="post" target="iframe">-->
                    <form class='form-register' action="unblockedVersion" method="post">
                        {% csrf_token %}
                        <input type="text" name="options" value="insert" style="display:none;">

                        <td class="table_th table_td">
                            <select class="select" name="month" required>
                                <option value="">请选择</option>
                                <option value="1">1月份</option>
                                <option value="2">2月份</option>
                                <option value="3">3月份</option>
                                <option value="4">4月份</option>
                                <option value="5">5月份</option>
                                <option value="6">6月份</option>
                                <option value="7">7月份</option>
                                <option value="8">8月份</option>
                                <option value="9">9月份</option>
                                <option value="10">10月份</option>
                                <option value="11">11月份</option>
                                <option value="12">12月份</option>
                            </select>
                        </td>
                        <td class="table_th"><textarea maxlength="128" class="table_text"  placeholder="营销平台领域" name='team'  required></textarea></td>
                        <td class="table_th"><textarea maxlength="128" class="table_text"  placeholder="BROP-MOP1.79.0" name='version_name'  required></textarea></td>
                        <td class="table_th"><textarea maxlength="128" class="table_text"  placeholder="营销渠道offer管理子系统" name='subsystem'  required></textarea></td>
                        <td class="table_th"><textarea maxlength="1024" class="table_text" placeholder="热8直播预约功能"  name='content'  required></textarea></td>
                        <td class="table_th"><textarea maxlength="128" class="table_text"  placeholder="卢俊凯" name='version_manager'  required></textarea></td>
                        <td class="table_th"><textarea maxlength="128" class="table_text"  placeholder="笪伯寅" name='version_leader'  required></textarea></td>
                        <td class="table_th"><textarea maxlength="128" class="table_text"  placeholder="徐徐" name='test_leader' required></textarea></td>
                        <td class="table_th table_td">
                            <select class="select" name="version_type" required>
                                <option value="">请选择</option>
                                <option value="常规版本">常规版本</option>
                                <option value="紧急版本">紧急版本</option>
                                <option value="静态资源版本">静态资源版本</option>
                            </select>
                        </td>
                        <td class="table_th table_td table_date">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" name='unblocked_datetime' placeholder="2020/7/30 11:00" required/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td class="table_th table_td table_date">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" name='blocked_datetime' placeholder="2020/7/30 12:00" required/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td class="table_th table_td">
                            <select class="select" name="unblocked_type" required>
                                <option value="">请选择</option>
                                <option value="缺陷修复">缺陷修复</option>
                                <option value="需求变更">需求变更</option>
                                <option value="封版延迟">封版延迟</option>
                                <option value="其它">其它</option>
                            </select>
                        </td>
                        <td class="table_th"><textarea maxlength="2048" class="table_text" placeholder="代码评审中代码优化"  name='unblocked_reason' required></textarea></td>
                        <td class="table_th"><textarea maxlength="1024" class="table_text" name='remark'></textarea></td>
                        <td class="table_th"><button type="submit" class="btn btn-primary pull-right right" id="submit_btn">提交</button></td>
                    </form>
                </tr>

                {% for versionInfo in unblocked_versionInfo_list %}
                    {% if versionInfo.username == request.session.user_name %}
                        <tr>
                            <!--<th class="table_data">{{versionInfo.pk}}</th>-->
                            <td class="table_data">{{versionInfo.month}}</td>
                            <td class="table_data">{{versionInfo.team}}</td>
                            <td class="table_data">{{versionInfo.version_name}}</td>
                            <td class="table_data">{{versionInfo.subsystem}}</td>
                            <td class="table_data">{{versionInfo.content}}</td>
                            <td class="table_data">{{versionInfo.version_manager}}</td>
                            <td class="table_data">{{versionInfo.version_leader}}</td>
                            <td class="table_data">{{versionInfo.test_leader}}</td>
                            <td class="table_data">{{versionInfo.version_type}}</td>
                            <td class="table_data">{{versionInfo.unblocked_datetime}}</td>
                            <td class="table_data">{{versionInfo.blocked_datetime}}</td>
                            <td class="table_data">{{versionInfo.unblocked_type}}</td>
                            <td class="table_data">{{versionInfo.unblocked_reason}}</td>
                            <td class="table_data">{{versionInfo.remark}}</td>
                            <td>
                                <form class='table_data' action="unblockedVersion" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="options" value="delete" style="display:none;">
                                    <input type="text" name="id" value="{{versionInfo.id}}" style="display:none;">
                                    <button type="submit" class="btn btn-primary delete_btn" onclick="if(confirm('确定删除？')){return true;}else{return false;}{this.form.submit();}">删除</button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>

    {% comment  %}
    <!--<iframe id="iframe" name="iframe" style="display:none;"></iframe>-->

    <!--{% for _ in count|get_range %}-->
    <!--<option>{{ forloop.counter }}</option>-->
    <!--{% endfor %}-->
    {% endcomment  %}

    <!--<br><br><br><hr>-->
    <!--<a class="btn btn-primary pull-left" id="link_index" href="/">返回首页</a>-->
    <br><br><br><br><br><br>
    <!--<a class="btn btn-primary pull-left" id="link_top" href="#">回到顶部</a>-->
    <!--<br><br><br><br>-->

</div>

<script type="text/javascript">
$(function () {
    $('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        locale: moment.locale('zh-cn')
    });
});

$(function () {
    $('#datetimepicker2').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        locale: moment.locale('zh-cn')
    });
});


</script>
{% endblock %}