{#login/templates/login/index.html#}

{% extends 'software_base.html' %}
{% load staticfiles %}

{% block title %}上传文件{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2"  style="margin-left: 30px;margin-right: 30px">
    {% if request.session.is_login %}
        <h1>您好,{{ request.session.user_name }}！欢迎回来！</h1>
    {% else %}
        <h2>你尚未登录，只能访问公开内容！</h2>
    {% endif %}

    {% if message %}
        <div class="alert alert-warning" style="text-align: center; font-size: 20px">{{ message }}</div>
    {% endif %}

    {% if upload_successful_message %}
        <div class="alert alert-warning" style="text-align: center;color: green">{{ upload_successful_message }}</div>
    {% endif %}

    {% if upload_failure_message %}
        <div class="alert alert-warning" style="text-align: center;color: red">{{ upload_failure_message }}</div>
    {% endif %}
    <hr>
    <div style="border:2px solid lightskyblue;">
        <h4 style="color: #3e8f3e;font-weight: bold">目录列表：</h4>
        {% if dirList_is_not_null %}
            <a href="/uploadFile">返回上一层</a>
        {% endif %}

            {% for dir in dirList %}
            <a href="/uploadFile?dirname={{dir}}" onmouseover="this.style.color='red';
                    "onmouseout="this.style.color='#2e6da4';" onclick="this.style.color= 'red';">{{dir}}</a><br>
            {% endfor %}

    </div>
<!--上传文件    -->
    <hr>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <form class="form-inline" role="form" action="uploadFile" method="post" enctype="multipart/form-data" accept-charset="utf-8">
              {% csrf_token %}
              <br>
            <div class="form-group">
                <label for="dir">上传路径：</label>
                <select name="dir_root" id="dir" style="color: #9d9d9d;background-color: #EEEEEE;">
            　　　　<option>{{path}}</option>
                </select>
                <br>
                <br>
            </div>
              <br>
              <div class="form-group">
                  <input type="file" name="file" multiple="">
              </div>
              <div class="form-group">
                  <input type="submit" value="上传文件" >
              </div>
          </form>
      </div>
    </div>

<!--文件列表    -->
<!--<hr>-->
    <!--{% if fileList %}-->
        <!--<h3 style="color: #3e8f3e;font-weight: bold">文件列表：</h3>-->
        <!--<ul>-->
            <!--{% for file in fileObjectList %}-->
                <!--<li id="li1"><a href="/downloadFile?name={{file}}" onmouseover="this.style.color='red';"onmouseout="this.style.color='#2e6da4';" onclick="this.style.color= 'red';">-->
                    <!--{{file.downloadFileName}}</a> 大小：{{file.downloadFileSize}} 创建时间：{{file.downloadFileCreaTime}}</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--{% endif %}-->
<!--<hr>-->

<!--文件列表 样式2    -->
    <hr>
    {% if del_file_message %}
        <div class="alert alert-warning" style="text-align: center;color: red; font-size: 20px">{{ del_file_message }}</div>
    {% endif %}
    <hr>
    {% if fileObjectList %}
        <h3 style="color: #3e8f3e;font-weight: bold">文件下载列表：</h3>
        <table border="0" width="400" height="180" cellspacing="50" style="border-collapse:separate; border-spacing:20px 8px;">
            <tr>
               <th>文件名</th>
               <th>大小</th>
               <th>创建时间</th>
            </tr>
                    {% for file in fileObjectList %}
            <tr>
                <td align="left" valign="middle"> <a href="/downloadFile?name={{file.downloadFileDirRoot}}{{file.downloadFileName}}" onmouseover="this.style.color='red';
                    "onmouseout="this.style.color='#2e6da4';" onclick="this.style.color= 'red';">{{file.downloadFileName}}</a> </td>
                <td align="left" valign="middle">{{file.downloadFileSize}}k</td>
                <td align="left" valign="middle">{{file.downloadFileCreaTime}}</td>
                <td align="left" valign="middle">
                    <form class='form-register' action="delFile" onclick="if(confirm('确定删除？')){return true;}else{return false;}{this.form.submit();}" method="post">
                        {% csrf_token %}
                        <button type="submit" style="color: #ffffff;background-color: #2e6da4" name="downloadFileName" value="{{file.downloadFileDirRoot}}{{file.downloadFileName}}">删除</button>
                    </form>
                </td>
            </tr>
                {% endfor %}

        </table>


    {% endif %}
<hr>


<!--删除文件-->
<div class="container">
    {% if delfile_message %}
        <div class="alert alert-warning" style="text-align: center;color: red; font-size: 20px">{{ delfile_message }}</div>
    {% endif %}

    <div class="col-md-4 col-md-offset-4">
        <form class='form-register' action="delFile" method="post">
            {% csrf_token %}
            <div class="form-group" style="color: red">
                {{ delFile_form.FileName.label_tag }}
                {{ delFile_form.FileName }}
            </div>
            <button type="reset" class="btn btn-default pull-left">重置</button>
            <button type="submit" class="btn btn-primary pull-right">删除</button>
        </form>
    </div>
</div> <!-- /container -->

<hr>
<a href="/">返回首页</a>
<hr>
<a href="#">回到顶部</a>

</div>
{% endblock %}